<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<title>Online Shopping</title>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='stylesheet' type='text/css' media='screen' href='css/style.css'>
<script src='main.js'></script>
</head>
<body>
<!-- header -->
<header id="header">
<div class="logo">
<b>QuickCart</b>
</div>
<div class="search">
<input type="text" placeholder="search anything here" />
</div>
<div class="account">
<button type="button">Create Account</button>  
</div>   
</header> 
<!--navbar  -->
<nav id="navbar">
<ul>
<li><a href="#">Home</a></li>
<li><a href="#">About</a></li>
<li><a href="#">Gallery</a></li>
<li><a href="#">Services</a></li>
<li><a href="#">Contact</a></li>
<li><a href="#">Products</a></li>
<li><a href="#">Feedback</a></li>
</ul>
</nav>
<!-- slider -->
<section id="slider">
<div class="slider-txt">
<h1>50% off on Selected Items! Hurry Up!</h1>
<p>Discover amazing deals on top-quality products at QuickCart. Grab your favorites before the offer ends!</p>
</div>  
</section>
<!--content  -->
<section id="content">
<aside class="leftsidebar">
<ul>
<li><a href="#">Vegetables</a></li>
<li><a href="#">Fruits</a></li>
<li><a href="#">Grocery</a></li>
<li><a href="#">Kitchenware</a></li>
<li><a href="#">Furniture</a></li>
<li><a href="#">Books</a></li>
<li><a href="#">Electronics</a></li>
</ul>
</aside>
<div class="rightsidebar">
    <div class="products-items">
        <img src="images/apple.avif" alt="Apple" />
        <p><b>Apple</b></p>
        <p>Rs. 120 -/</p>
        <p><button type="button">Add</button></p>
    </div>

    <div class="products-items">
        <img src="images/mango.avif" alt="Mango" />
        <p><b>Mango</b></p>
        <p>Rs. 150 -/</p>
        <p><button type="button">Add</button></p>
    </div>
    
    <div class="products-items">
        <img src="images/milk.avif" alt="Milk" />
        <p><b>Milk</b></p>
        <p>Rs. 60 -/</p>
        <p><button type="button">Add</button></p>
    </div>
</div>  
</section>
<!-- footer -->
<footer id="footer">
<div class="page-link">
<ul>
<li><a href="#"><h1>Page Links</h1></a></li>
<li><a href="#">About</a></li>
<li><a href="#">Gallery</a></li>
<li><a href="#">Services</a></li>
<li><a href="#">Contact</a></li>
<li><a href="#">Products</a></li>
<li><a href="#">Feedback</a></li>
</ul>
</div>
<div class="address">
<ul>
<li><a href="#"><h1>Our Address</h1></a></li>
<li><a href="#">Green Square, MG Road, Rajkot, Gujarat 360001</a></li>
</ul>
</div>
<div class="newsletter">
<ul>
<li><a href="#"><h1>Newsletter</h1></a></li>
<li><a href="">
    <input type="text" placeholder="Enter your email *" />
</a></li>
</ul>
</div>
</footer>
</body>
</html>
