<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<title>Online Shopping</title>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta property="og:title" content="Online Shopping" />
<meta property="og:site_name" content="QuickCart" />
<meta property="og:url" content="url" />
<meta property="og:descriptions" content="QuickCart Online Shopping Platform" />
<meta property="og:image" content="" />
<link rel='stylesheet' type='text/css' media='screen' href='css/style.css'>
<link rel='stylesheet' type='text/css' media='screen' href='css/font-awesome.css'>
<script src='main.js'></script>
</head>
<body>
<!-- header -->
<section id="header">
<!-- logo -->
<div class="logo"><h1>QuickCart</h1></div>
<!-- searchbox -->
<div class="search-box">
<input type="text" placeholder="Search anything here" />
</div>
<div class="social-media">
<span class="fa fa-facebook"></span>
<span class="fa fa-instagram"></span>
<span class="fa fa-whatsapp"></span>
<span class="fa fa-youtube"></span>
<span class="fa fa-github"></span>
</div>
</section>
<!-- navbar -->
<section id="navbar">
<ul class="navbar-link">
<li><a href="index.html">Home</a></li>
<li><a href="kids.html">Kids Items</a></li>
<li><a href="mens.html">Mens Items</a></li>
<li><a href="womens.html">Womens Items</a></li>
<li><a href="feedback.html">Feedback</a></li>
<li><a href="account.html">Account</a></li>
</ul>
</section>
<!-- slider -->
<section id="slider">
<div class="slider-txt">
<h1>Flat 40% off on New Arrivals! Limited Time Offer</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, autem! Grab your favorite items before the offer ends.</p>
<button type="button">Shop Now</button>
</div>
</section>
<!-- content -->
<section id="content">

<div class="leftsidebar">
<ul class="sidebar-link">
<li><a href="index.html">Home</a></li>
<li><a href="kids.html">Kids Items</a></li>
<li><a href="mens.html">Mens Items</a></li>
<li><a href="womens.html">Womens Items</a></li>
<li><a href="feedback.html">Feedback</a></li>
<li><a href="account.html">Account</a></li>
</ul>
</div>
<div class="rightsidebar">
<p><span class="fa fa-map-marker"></span>&nbsp;&nbsp; 202, Green Square, MG Road, Near Central Mall, Rajkot, Gujarat 360001</p>

<p><span class="fa fa-clock-o"></span>&nbsp;&nbsp; Open: 8:00am to 8:00pm</p>

<p><span class="fa fa-globe"></span>&nbsp;&nbsp; Website: quickcart.com</p>

<p><span class="fa fa-mobile"></span>&nbsp;&nbsp; <a href="tel:(+91)9988776655">(+91)9988776655</a></p>
</div>
<div class="google-map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3015.945661230146!2d70.77289676178185!3d22.290148293475305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3959ca248c77c099%3A0xdf5ac10af64ac8ee!2sTOPS%20Technologies!5e0!3m2!1sen!2sin!4v1757594207141!5m2!1sen!2sin" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

</section>
<!-- footer -->
<section id="footer">
<div class="pagelinks">
<ul class="footer-link">
<li><a href="index.html"><h1>Page Links</h1></a></li>
<li><a href="kids.html">Kids Items</a></li>
<li><a href="mens.html">Mens Items</a></li>
<li><a href="womens.html">Womens Items</a></li>
<li><a href="feedback.html">Feedback</a></li>
<li><a href="account.html">Privacy & Policy</a></li>
<li><a href="account.html">Terms</a></li>
</ul>
</div>
<div class="address">
<ul class="footer-link">
    <li><a href=""><p><span class="fa fa-map-marker"></span>&nbsp;&nbsp; 202, Green Square, MG Road, Near Central Mall, Rajkot, Gujarat 360001</p></a></li>
</ul>    
</div>
<div class="newsletter">
    <ul class="footer-link">
        <li><a href="">
            <form>
                <label>Subscribe Here</label>
                <br>
                <input type="text" placeholder="Enter your Email" />
            </form>
        </a></li>
    </ul>
</div>
</section>

</body>
</html>
